[submodule "components/esp-sr"]
	path = components/esp-sr
	url = https://github.com/espressif/esp-sr.git
[submodule "components/esp-adf-libs"]
	path = components/esp-adf-libs
	url = https://github.com/veavolup/esp-adf-libs.git
